* {
    margin: 0;
    padding: 0;
}

html {
    touch-action: manipulation;
}

body {
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    background-color: pink;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 50px;
}

#timer {
    font-size: 80px;
}

button {
    font-size: 18px;
    margin: 10px;
}