* {
    margin: 0;
}

html {
    touch-action: manipulation;
}

a{
    text-decoration: none;
}

header{
    margin-top: 20px;
}

h1 {
    font-size: 5vw;
    color: gray;
    text-align: center;
}

button {
    font-size: 3vw;
}

main {
    background-color: pink;
    max-width: 100%;
    width: 100%;
    color: #0c0c14;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 7vw;
}

.twitter{
    margin-top: 20px;
    text-align: center;
}

footer{
    margin-top: 20px;
    text-align: center;
}
